<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seacher</title>
</head>
<body>
 <form method="post" action="/search/find">
     <input type="hidden" name="_csrf" value="{{_csrfToken}}">
     <input type = "search" name = "findData">
     <input type="submit">
 </form>

{{#if news}}
 Найденные новости:
{{/if}}
{{#each news}}
    <p> {{this.title}} </p>
{{/each}}

{{#if posts}}
    Найденные посты:
{{/if}}
{{#each posts}}
    <p> id: {{this.id}} Заголовок: {{this.title}} Текст: {{this.text}}</p>
{{/each}}


{{#if tasks}}
    Найденные тренажеры:
{{/if}}
{{#each tasks}}
    <p> id: {{this.id}} Заголовок: {{this.title}} Текст: {{this.text}}</p>
{{/each}}

</body>
</html>