    <style>
        .pages{
            margin-top: 30px;
        }

        .pages ul{
            display: flex;
        }

        .pages li{
            width: 40px;
            height: 40px;
            list-style: none;
            margin-left: 10px;
        }

        .pages .page{
            background: #fff;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            display: block;
            color: #cc33cc;
            border: 1.5px solid;
            text-decoration: none;
            font-size: 18px;
        }

        .pages .active{
            background: #cc33cc;
            border: 1.5px solid #cc33cc;
            color: #fff;
        }

    </style>

<form action = "/tasks" method="get">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <p>Дисциплины</p>
    {{#each disciplines}}
        <p>{{this.name}}</p>
            {{#each this.tags}}
                <p><input type="checkbox" value="{{this.id}}" name = "tag[{{this.id}}]" {{this.checked}}>{{this.name}}</p>
            {{/each}}
    {{/each}}

    <p>Сложность</p>
    {{#each catalogs}}
    <p> <input type="checkbox" name="catalog[{{this.id}}]" value="{{this.id}}" {{this.checked}}>{{this.title}}<Br>
    {{/each}}
    <p> <input type="submit"></p>
</form>

{{#each tasks}}
    <p>
        tag: {{this.ttitle}}
        catalog: {{this.ctitle}}
        <a href="/tasks/task?id={{this.id}}">{{this.title}}</a>
        text: {{this.text}}
        description: {{this.description}}
        id: {{this.id}}
    </p>
{{/each}}


    <div class="pages">
        <ul>
            {{#each pages}}
                <li>
                    {{#if current}}
                        <a class="active page" href="{{route}}page={{id}}">{{content}}</a>
                    {{else}}
                        <a class="page" href="{{route}}page={{id}}">{{content}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>

