    <style>
        .pages{
            margin-top: 30px;
        }

        .pages ul{
            display: flex;
        }

        .pages li{
            width: 40px;
            height: 40px;
            list-style: none;
            margin-left: 10px;
        }

        .pages .page{
            background: #fff;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            display: block;
            color: #cc33cc;
            border: 1.5px solid;
            text-decoration: none;
            font-size: 18px;
        }

        .pages .active{
            background: #cc33cc;
            border: 1.5px solid #cc33cc;
            color: #fff;
        }

    </style>

<link rel="stylesheet" href="/css/tasks/index.css">
<link rel="stylesheet" href="/css/side-bar.css">

<div class="page-wrapper">
    <div class="section">
        <div class="task-wrapper">
            {{#each tasks}}
            <a class="task" href="/tasks/task?id={{this.id}}">
                <img width="230px" src="/img/tasks/{{this.img}}" alt="">
                <div class="">
                    <div class="title">
                        <h3>{{this.title}}</h3>
                    </div>
                    <div class="diff {{this.cltitle}}">
                        {{this.ctitle}}
                    </div>
                    <div class="text">
                        {{this.description}}
                    </div>
                    <div class="task-tags">
                        Направления:
                        {{#each this.tags}}
                            {{this}}
                        {{/each}}
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>

    <div class="aside">
        <div class="side-bar">
            <form action = "/tasks" method="get">
                <input type="hidden" name="_csrf" value="{{_csrfToken}}">
                <h2>Дисциплины</h2>
                <div class="side-bar-wrap">
                    {{#each disciplines}}
                        <div class="discipline">
                            <span>{{this.name}}</span>
                            <div class="tag-wrap">
                                {{#each this.tags}}
                                <div class="tag">
                                    <input type="checkbox" value="{{this.id}}" name = "tag[{{this.id}}]" {{this.checked}}>
                                    <span>{{this.name}}</span>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>

                <h2>Сложность</h2>
                <div class="side-bar-wrap">
                    {{#each catalogs}}
                        <div class="difficult">
                            <input type="checkbox" name="catalog[{{this.id}}]" value="{{this.id}}" {{this.checked}}>
                            <span>{{this.title}}</span>
                        </div>
                    {{/each}}
                    <input type="submit" value="Найти">
                </div>
            </form>
        </div>
    </div>
</div>





    <div class="pages">
        <ul>
            {{#each pages}}
                <li>
                    {{#if current}}
                        <a class="active page" href="{{route}}page={{id}}">{{content}}</a>
                    {{else}}
                        <a class="page" href="{{route}}page={{id}}">{{content}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
