<link rel="stylesheet" href="/css/tasks/task.css">

<div class="page-wrap">
    <div class="section">
        <h2>{{task.title}}</h2>
        <div class="text">
            <span>{{task.text}}</span>
        </div>
        <div class="train-wrap">
            {{> (lookup . 'file') }}
        </div>
    </div>
    <div class="aside">
        <div class="">
            <span>Сложность:  <b>{{task.ctitle}}</b></span>
        </div>
        <h3>Направления тренажера</h3>
        <div class="">
            {{#each tags}}
                <li>{{title}}</li>
            {{/each}}
        </div>
        <h3>Последние 5 попыток</h3>
        <div class="">
            {{#if results.length}}
                {{#each results}}
                    <div class="">
                        {{#if isRight}}
                        <span style="color: green">Верно</span>
                        {{else}}
                        <span style="color: red">Неверно</span>
                        {{/if}}
                    </div>
                    {{/each}}
            {{else}}
                <em>Вы еще не решали данный тренажер</em>
            {{/if}}
        </div>
    </div>
</div>
