<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Тег FORM</title>
    <style>
        .pages{
            margin-top: 30px;
        }

        .pages ul{
            display: flex;
        }

        .pages li{
            width: 40px;
            height: 40px;
            list-style: none;
            margin-left: 10px;
        }

        .pages .page{
            background: #fff;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            display: block;
            color: #cc33cc;
            border: 1.5px solid;
            text-decoration: none;
            font-size: 18px;
        }

        .pages .active{
            background: #cc33cc;
            border: 1.5px solid #cc33cc;
            color: #fff;
        }

    </style>
</head>
<body>

<form action = "/posts" method="get">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <p>Дисциплины</p>
    {{#each disciplines}}
        <p>{{this.name}}</p>
        {{#each this.tags}}
            <p><input type="checkbox" value="{{this.id}}" name = "tag[{{this.id}}]" {{this.checked}}>{{this.name}}</p>
        {{/each}}
    {{/each}}
    <p> <input type="submit"></p>

</form>

{{#each posts}}
    <a href="/posts/post?id={{this.id}}"><p>id: {{this.id}} title: {{this.title}} tag: {{this.ttitle}} view: {{this.view}} text: {{this.text}}</p></a>
{{/each}}


<div class="pages">
    <ul>
        {{#each pages}}
            <li>
                {{#if current}}
                    <a class="active page" href="{{route}}?page={{id}}">{{content}}</a>
                {{else}}
                    <a class="page" href="{{route}}?page={{id}}">{{content}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

</body>
</html>